#water_bottle {
    height: 200px;
}
#div_1 {
    background-color: beige;
    border-radius: 30px;
    height: 250px;
}
#div_2 {
    background-color: beige;
    border-radius: 30px;
    height: 250px;
}
#water_bottle1{
    height: 250px;
}